<template>
  <div id="login">
    <h1>Login</h1>
    <input type="text" v-model="username" />
    <button @click="onLogin">Login</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      username: ''
    }
  },

  methods: {
    onLogin () {
      window.localStorage.setItem('auth', this.username)
      this.username = ''
      this.$router.push({ path: '/' })
    }
  }
}
</script>
