<template>
  <div id="app">
    <input type="text" v-model="message" />
    <button @click="onAddTodo">Add todo</button>
    <ol>
      <li v-for="(todo, key) in todos" :key="key">

        {{ todo.text }} {{ todo.done }}

        <router-link :to="'/product/' + todo.id">
          Detail todo
        </router-link>

      </li>
    </ol>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'app',
  data () {
    return {
      message: ''
    }
  },
  computed: {
    todos () {
      return this.getTodos
    },
    ...mapGetters({
      getTodos: 'todo/getTodos'
    })
  },
  mounted () {
    // const todo = this.getTodoById(2)
    // console.log(todo)
    // this.fetchApi()
    // this.fetchApi()
  },
  methods: {

    ...mapActions({
      postTodo: 'todo/postTodo',
      // fetchApi : 'todo/fetchApi'
    }),

    onAddTodo () {
      let id = this.getTodos.length + 1
      this.postTodo({ id, text: this.message, done: false })
    }
  }
}
</script>

<style lang="scss">

</style>
